<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="restlet" sequenceNumber="30">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.1.0.v20130814-1242"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20130814-1242"/>
<unit id="org.eclipse.platform.feature.group" version="4.3.1.v20130911-1000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.7.1.v20131027-1505"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.7.1.v20131027-1505"/>
<repository location="http://download.eclipse.org/rt/ecf/3.7.1/site.p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.restlet.ext.osgi.feature.group" version="2.2.0.m3-v20130307-1155"/>
<unit id="org.restlet.ext.servlet.feature.group" version="2.2.0.m3-v20130307-1155"/>
<unit id="org.restlet.feature.group" version="2.2.0.m3-v20130307-1155"/>
<unit id="org.restlet.ext.gson.feature.group" version="2.2.0.m4-v20130823-0652"/>
<unit id="org.restlet.ext.jackson.feature.group" version="2.2.0.m3-v20130307-1155"/>
<unit id="org.restlet.ext.json.feature.group" version="2.2.0.m3-v20130307-1155"/>
<unit id="org.restlet.ext.xml.feature.group" version="2.2.0.m3-v20130307-1155"/>
<repository location="http://p2.restlet.org/2.2"/>
</location>
</locations>
</target>
